.client{
    background: $bg-dark;
    padding-top: 60px;
    padding-bottom: 60px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @media (max-width:950px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        img{
            width: 170px;
            height: 57px;
            @media (max-width:950px) {
                width: 100%;
            }
            @media (max-width:700px) {
                height: 30px;
            }
        }
    }
}