.hero{
    background: rgb(1, 78, 86);
    &__wrapper{
        padding-top: 60px ;
        padding-bottom: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width:950px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }
    &__title{
        width: 30%;
        @media (max-width:950px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            text-align: center;

        }
        p{
            font-size: 90px;
            color: $bg-light;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 700;
            @media (max-width:650px) {
                font-size: 50px;
            }
        }
        .color{
            color: $bg-pink;
        }
    }
    .text{
        width: 70%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $bg-light;
        @media (max-width:650px) {
            width: 100%;
            text-align: center;
        }
        &::before{
            content: " ";
            display: inline-block;
            width: 50px;
            height: 3px;
            margin-bottom: 83px;
            background: $bg-pink;
            @media (max-width:950px) {
                display: none;
            }
        }
    }
    &__text{
        width: 40%;
        @media (max-width:650px) {
            width: 100%;
            text-align: center;
        }
        p{
            color: $bg-light;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        &::before{
            content: " ";
            display: inline-block;
            width: 50px;
            height: 3px;
            margin-bottom: 83px;
            background: $bg-pink;
            @media (max-width:950px) {
                display: none;
            }
        }
        @media (max-width:950px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}